
@media all and (max-width: 850px) {

  footer {
    height: $footer-height-mobile;

    > div.d-flex {
      padding: 1.5rem 0;
      flex-wrap: wrap;
      -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
    }

    .footer-left,
    .footer-right {
      text-align: center;
    }
  }

}
