
/* --- sidebar layout --- */

$sidebar-display: "sidebar-display";

#sidebar {

  padding-left: 0;
  padding-right: 0;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  width: $sidebar-width;
  z-index: 99;
  background: var(--sidebar-bg);

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  a {

    color: var(--text-color);

    &:hover {
      color: var(--sidebar-active-color) !important;
    }
  }

  .site-title {
    padding-top: 20%;
    text-align: center;
    a {
      transition: color 0.35s ease-out;

      font-weight: 800;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      color: var(--text-color);
    }
  }

  .site-subtitle {
    font-size: 95%;
    color: var(--sidebar-muted-color);
    line-height: 1.2rem;
    word-spacing: 1px;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    min-height: 3rem; /* avoid vertical shifting in multi-line words */
    user-select: none;
  }

  .nav-link {
    border-radius: 0;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: table-cell;
    vertical-align: middle; 
        
    > span {
        letter-spacing: 2px;
    }
    > i {
        &.unloaded {
            display: inline-block !important;
        }
    }
  }

         
  .nav-item {
    text-align: left;
    display: table;
    height: $tab-height;
    padding-left: 15%;

    &.active {
      .nav-link {
        color: var(--sidebar-active-color);
      }
    }

    &:not(.active) > a {
      transition: color 0.35s ease-out;
    }
  }

  ul {
    height: $tab-height * $tab-count;
    margin-bottom: 2rem;
    padding-left: 0;

    li {
      width: 100%;
      
      &:last-child {
        a {
          position: relative;
          left: $cursor-width / 2;
          width: 100%;
          margin-top: $tab-height;
        }

        &::after { /* the cursor */
          display: table;
          visibility: hidden;
          content: "";
          position: relative;
          right: 1px;
          width: $cursor-width;
          height: 1.6rem;
          border-radius: 1px;
          background-color: var(--nav-cursor-color);
          pointer-events: none;
          // margin-top: $tab-height;
        }
      }
    } /* li */

    @mixin fix-cursor($top) {
      top: $top;
      visibility: visible;
    }

    @for $i from 1 through $tab-count {
      $offset: $tab-count - $i;
      $top: $tab-height - $offset * $tab-height + ($tab-height - $tab-cursor-height) / 2;

      @if $i < $tab-count {
        > li.active:nth-child(#{$i}),
        > li.nav-item:nth-child(#{$i}):hover {
          ~ li:last-child::after {
            @include fix-cursor($top);
          }
        }
      } @else {
        > li.active:nth-child(#{$i}):last-child::after,
        > li.nav-item:nth-child(#{$i}):last-child:hover::after {
          @include fix-cursor($top);
        }
      }

    } /* @for */

  } /* ul */

  .sidebar-bottom {
    margin-bottom: 2.1rem;

    margin-left: auto;
    margin-right: auto;

    padding-left: 1rem;
    padding-right: 1rem;

    %icon {
      width: 2.4rem;
      text-align: center;
    }

    a {
      @extend %icon;
    }

    i {
      font-size: 1.2rem;
      line-height: 1.75rem;
    }

    .mode-toggle {
      padding: 0;
      border: 0;
      margin-bottom: 1px;
      background-color: transparent;

      // @extend %icon;
      // @extend %sidebar-links;

      > i {
        // @extend %clickable-transition;
      }

      &:hover > i {
        color: var(--sidebar-active-color);
      }
    }

    .icon-border {
      user-select: none;

      background-color: var(--sidebar-muted-color);
      content: "";
      width: 3px;
      height: 3px;
      border-radius: 50%;
    }

  } /* .sidebar-bottom */

} /* #sidebar */

// Mobile Devices
/* hide sidebar and panel */
@media all and (max-width: 849px) {
  

  [#{$sidebar-display}] {
    #sidebar {
      transform: translateX(0);
    }

    #topbar-wrapper,
    #main-wrapper {
      transform: translateX(#{$sidebar-width});
    }
  }

  #sidebar {
    @include slide;

    transform: translateX(-#{$sidebar-width}); /* hide */
    -webkit-transform: translateX(-#{$sidebar-width});

    .cursor {
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
    }
  }

  #topbar,
  #main {
    max-width: 100%;
  }



  #topbar-wrapper {
    @include slide(top 0.2s ease);

    left: 0;
  }

  #core-wrapper,
  #panel-wrapper {
    margin-top: 0;
  }

  #topbar-title,
  #sidebar-trigger{
    display: block;
  }


  #tags {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  h1.dynamic-title {
    // display: none;

    ~ .post-content {
      margin-top: 3rem;
    }
  }


} /* max-width: 849px */


/* Sidebar is visible */
@media all and (min-width: 850px) {
  /* Solved jumping scrollbar */

  .profile-wrapper {
    margin-top: 3rem;
  }

  /* button 'back-to-Top' position */
  #back-to-top {
    bottom: 5.5rem;
    right: 5%;
  }

  #sidebar-trigger{
    display: none;
  }

}
